{% if section.info %}
<div class="panel panel-info" id="{{section.id}}-info">
  <div class="panel-heading">
    <h4 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> Info</h4>
  </div> <!-- panel-heading -->
  <div class="panel-body">
    <div class="row call-info">

      {% if section.preface %}
        <div class="col-xs-12">
          {{section.preface | raw }}
        </div>
      {% endif %}

      <div class="col-xs-12">
        <h4> Endpoint </h4>
        <div class="panel panel-default"> <!-- wrap in panel as hackish way to give table rounded corners -->
          <table class="table table-hover table-bordered">
            <tbody>
              <tr>
                <td class="col-xs-2 text-right">Url</td>
                <td class="col-xs-10">
                  <span>{{(section.url ? "/" ~ section.url : section.route) ~ section.endpoint.subroute ?: ''}}</span> <!-- twig's string concat is ~ -->
                </td>
              </tr>
              <tr>
                <td class="col-xs-2 text-right">Version</td>
                <td class="col-sx-10">{% if section.version %}{{section.version}}{% else %}{{'V1'}}{% endif %}</td>
              </tr>
              <tr>
                <td class="col-xs-2 text-right">Access</td>
                <td class="col-xs-10">
                    <span>
                      <span class="glyphicon glyphicon-{% if section.access_icon %}{{section.access_icon}}{% else %}{{'lock'}}{% endif %}"></span>
                      {% if section.access %}{{section.access}}{% else %}{{'Private'}}{% endif %}
                    </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      {% if section.json %}
      <div class="col-xs-12">
        <h4>Example JSON</h4>
        <pre class="prettyprint">{{section.json}}</pre>
      </div>
      {% endif %} <!-- if section.json -->

      {% if section.info %}
      <div class="col-xs-12">
        <h4> Fields </h4>
        <div class="panel panel-default">
          <table class="table table-hover table-bordered">
            <thead>
              <tr class="success">
                <th class="col-xs-1">Name</th>
                <th class="col-xs-1">Type</th>
                <th class="col-xs-2">Default</th>
                <th class="col-xs-8">Description</th>
              </tr>
            </thead>
            <tbody>
              {% for col in section.info %}
                <tr>
                  <td class="col-xs-1">{{col.name}}</td>
                  <td class="col-xs-1">{{col.type}}</td>
                  <td class="col-xs-2 text-center">
                    {% if col.icon %}
                      <span class="glyphicon glyphicon-{{col.icon}}"></span>
                    {% endif %}
                    {% if col.default or col.default == 0 %}
                      <span>{{col.default}}</span>
                    {% endif %}
                  </td>
                  <td class="col-xs-8">{{col.description | raw}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %} <!-- if section.info -->

    </div>
  </div>
</div> <!-- panel-info -->
{% endif %}