<div class="col-xs-3">
  <div class="affix visibility-hidden" id="sidebar">
    <ul class="nav">
      {% for section in sections %}
        <li class="nav-group">
          <a class="nav-group-header" href="#{{section.id}}">{{section.header}}</a>
          <ul class="nav">
            {% if section.info %}
              <li class="nav-group-item"><a href="#{{section.id}}-info">Info</a></li>
            {% endif %}
            {% for call in section.calls %}
              <li class="nav-group-item"><a href="#{{section.id}}-{{call.id}}">{{call.header}}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div> <!--well bs-sidebar affix-->
</div>